<nav class="navbar navbar-custom navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about_me">ABOUT ME</a></li>
        <li><a href="#skills">SKILLS</a></li>
        <li><a href="#projects">PROJECTS</a></li>
        <li><a href="#contact_me">CONTACT ME</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid intro" id="about_me">
  <div class="row about_me">
    <div class="col-lg-12 text-center image">
      <h1>Oscar Cortazar-Luebbert</h1>
      <%= image_tag("profile_pic.png", :alt => "Profile Picture") %>
    </div>
    <div class="col-lg-6 col-lg-offset-3">
      <div class="col-lg-12 about_me_paragraph">
        <p>I am a petroleum engineer and web developer currently living in Irving, Texas. My interests range from technology to oil and gas. Driven, self-sufficient web application developer motivated to solve programming challenges. As a recent graduate from Coding Dojo, I worked in collaborative team environments to build many web applications in various programming languages using different databases.</p>
        <p>Prior to coding, my professional contributions focused around problem solving and process optimization efforts for the oil and gas industry. This experience and the demands of Texas Tech allowed me to adopt the "get’er done" mentality that drives me to deliver the results.</p>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-12" id="skills">
  <div class="col-lg-12 text-center slideanim" id="web_fundamentals">
    <div class="col-lg-6 col-md-push-6" id="web_fundamentals_title">
      <h1>Web Fundamentals</h1>
    </div>
    <div class="col-lg-6 col-md-pull-6">
      <div class="each_skill">
        <p><%= image_tag("html.png", :alt => "HTML5") %></p>
        <p>HTML5</p>
      </div>
      <div class="each_skill">
        <p><%= image_tag("css.png", :alt => "CSS3") %></p>
        <p>CSS3</p>
      </div>
      <div class="each_skill">
        <p><%= image_tag("jquery.png", :alt => "jQuery") %></p>
        <p>jQuery</p>
      </div>
      <div class="each_skill">
        <p><%= image_tag("api.png", :alt => "API") %></p>
        <p>API</p>
      </div>
      <div class="each_skill">
        <p><%= image_tag("ajax.png", :alt => "AJAX") %></p>
        <p>AJAX</p>
      </div>
      <div class="each_skill">
        <p><%= image_tag("json.png", :alt => "JSON") %></p>
        <p>JSON</p>
      </div>
      <div class="each_skill">
        <p><%= image_tag("git.png", :alt => "GitHub") %></p>
        <p>GitHub</p>
      </div>
      <div class="each_skill">
        <p><%= image_tag("rwd.png", :alt => "RWD") %></p>
        <p>RWD</p>
      </div>
      <div class="each_skill">
        <p><%= image_tag("wireframes.png", :alt => "Wireframes") %></p>
        <p>Wireframs</p>
      </div>
      <div class="each_skill">
        <p><%= image_tag("bootstrap.png", :alt => "Boostrap") %></p>
        <p>Bootstrap</p>
      </div>
    </div>
  </div>
  <div class="col-lg-12 text-center slideanim" id="ruby_on_rails">
    <div class="col-lg-6" id="ruby_on_rails_title">
      <h1>Ruby on Rails</h1>
    </div>
    <div class="col-lg-6">
      <div class="each_skill">
        <p><%= image_tag("ruby.png", :alt => "Ruby") %></p>
        <p>Ruby</p>
      </div>
      <div class="each_skill">
        <p><%= image_tag("rails.png", :alt => "Rails") %></p>
        <p>Rails</p>
      </div>
      <div class="each_skill">
        <p><%= image_tag("tdd.png", :alt => "TDD") %></p>
        <p>TDD</p>
      </div>
      <div class="each_skill">
        <p><%= image_tag("oop.png", :alt => "OOP") %></p>
        <p>OOP</p>
      </div>
      <div class="each_skill">
        <p><%= image_tag("MVC.png", :alt => "MVC") %></p>
        <p>MVC</p>
      </div>
      <div class="each_skill">
        <p><%= image_tag("postgresql.png", :alt => "PostgreSQL") %></p>
        <p>PostgreSQL</p>
      </div>
      <div class="each_skill">
        <p><%= image_tag("restful.png", :alt => "RESTful") %></p>
        <p>RESTful</p>
      </div>
      <div class="each_skill">
        <p><%= image_tag("aws.png", :alt => "AWS") %></p>
        <p>AWS</p>
      </div>
    </div>
  </div>
  <div class="col-lg-12 text-center slideanim" id="mean">
    <div class="col-lg-6 col-md-push-6" id="mean_title">
      <h1>MEAN</h1>
    </div>
    <div class="col-lg-6 col-md-pull-6">
      <div class="each_skill">
        <p><%= image_tag("js.png", :alt => "JavaScript") %></p>
        <p>JavaScript</p>
      </div>
      <div class="each_skill">
        <p><%= image_tag("mongo.png", :alt => "MongoDB") %></p>
        <p>MongoDB</p>
      </div>
      <div class="each_skill">
        <p><%= image_tag("express.png", :alt => "Express") %></p>
        <p>Express</p>
      </div>
      <div class="each_skill">
        <p><%= image_tag("angular.png", :alt => "AngularJS") %></p>
        <p>AngularJS</p>
      </div>
      <div class="each_skill">
        <p><%= image_tag("nodejs.png", :alt => "Node.js") %></p>
        <p>Node.js</p>
      </div>
      <div class="each_skill">
        <p><%= image_tag("oop.png", :alt => "OOP") %></p>
        <p>OOP</p>
      </div>
      <div class="each_skill">
        <p><%= image_tag("MVC.png", :alt => "MVC") %></p>
        <p>MVC</p>
      </div>
      <div class="each_skill">
        <p><%= image_tag("restful.png", :alt => "RESTful") %></p>
        <p>RESTful</p>
      </div>
      <div class="each_skill">
        <p><%= image_tag("aws.png", :alt => "AWS") %></p>
        <p>AWS</p>
      </div>
    </div>
  </div>
  <div class="col-lg-12 text-center slideanim" id="python">
    <div class="col-lg-6" id="python_title">
      <h1>Python</h1>
    </div>
    <div class="col-lg-6">
      <div class="each_skill">
        <p><%= image_tag("python.png", :alt => "Python") %></p>
        <p>Python</p>
      </div>
      <div class="each_skill">
        <p><%= image_tag("flask.png", :alt => "Flask") %></p>
        <p>Flask</p>
      </div>
      <div class="each_skill">
        <p><%= image_tag("python_oop.png", :alt => "Python_OOP") %></p>
        <p>OOP</p>
      </div>
      <div class="each_skill">
        <p><%= image_tag("pylotmvc.png", :alt => "Pylot_MVC") %></p>
        <p>MVC</p>
      </div>
      <div class="each_skill">
        <p><%= image_tag("mysql.png", :alt => "MySQL") %></p>
        <p>MySQL</p>
      </div>
      <div class="each_skill">
        <p><%= image_tag("restful.png", :alt => "RESTful") %></p>
        <p>RESTful</p>
      </div>
      <div class="each_skill">
        <p><%= image_tag("aws.png", :alt => "AWS") %></p>
        <p>AWS</p>
      </div>
    </div>
  </div>
  <div class="col-lg-12 text-center slideanim" id="dotnet">
    <div class="col-lg-6 col-md-push-6" id="dotnet_title">
      <h1>C#/.NET (Currently Learning)</h1>
    </div>
    <div class="col-lg-6 col-md-pull-6">
      <div class="each_skill">
        <p><%= image_tag("net_icon.png", :alt => ".NET") %></p>
        <p>.NET</p>
      </div>
      <div class="each_skill">
        <p><%= image_tag("c_sharp_icon.png", :alt => "C#") %></p>
        <p>C#</p>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-12" id="projects">
  <h1>Projects</h1>
</div>
<div class="col-lg-12" id="contact_me">
  <div class="row">
    <div class="col-lg-7">
      <div class="row">
        <div class="col-lg-12 text-center contact_title">
          <h2><%= image_tag("black_email.png", :alt => "black_email") %> GET IN TOUCH WITH ME</h2>
          <h4>Need a website? A web application? I am available for freelance work, I want to hear about your projects.</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12" id="form">
          <form class="col-lg-10 col-lg-offset-4" action="/clients" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <div class="form-group row">
              <label for="example-text-input" class="col-lg-1 col-xs-3 col-form-label">Name:</label>
              <div class="col-lg-5 col-xs-9">
                <input type="text" name="name" class="form-control" id="formGroupExampleInput" placeholder="Name">
              </div>
            </div>
            <div class="form-group row">
              <label for="example-text-input" class="col-lg-1 col-xs-3 col-form-label">Email:</label>
              <div class="col-lg-5 col-xs-9">
                <input type="email" name="email" class="form-control" id="formGroupExampleInput" placeholder="Email">
              </div>
            </div>
            <div class="form-group row">
              <label for="example-text-input" class="col-lg-1 col-xs-3 col-form-label">Subject:</label>
              <div class="col-lg-5 col-xs-9">
                <input type="text" name="subject" class="form-control" id="formGroupExampleInput" placeholder="Subject">
              </div>
            </div>
            <div class="form-group row">
              <label for="example-text-input" class="col-lg-1 col-xs-3 col-form-label">Message:</label>
              <div class="col-lg-5 col-xs-9">
                <textarea class="form-control" name="message" id="exampleTextarea" rows="3" placeholder="Message..."></textarea>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-xs-12 col-lg-6 text-right">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
              </div>
            </div>
              <% if flash[:success]%>
                <p class="success"><%= flash[:success] %><p>
              <% end %>
              <% if flash[:errors]%>
                <% flash[:errors].each do |e|%>
                  <p class="errors"><%= e %><p>
                <% end %>
              <% end %>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-4 google_map">
      <div id="irving_map"></div>
    </div>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcH9F1fBaHQZFarAjp2zjreVTy9V-3WOg" type="text/javascript"></script>
<!-- Irving_Map -->
<script>
var myCenter1 = new google.maps.LatLng(32.9359, -96.9585);

function initialize() {
var mapProp1 = {
center:myCenter1,
zoom:12,
scrollwheel:false,
draggable:false,
mapTypeId:google.maps.MapTypeId.ROADMAP
};

var map1 = new google.maps.Map(document.getElementById("irving_map"),mapProp1);

var marker1 = new google.maps.Marker({
position:myCenter1,
});

marker1.setMap(map1);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
<footer class="container-fluid col-lg-12">
  <div class="row">
    <div class="col-lg-4 text-center links">
      <ul class="list-inline">
        <li><a href="https://www.linkedin.com/in/oscarcort"><%= image_tag("linkedin.png", :alt => "LinkedIn") %></a></li>
        <li><a href="https://github.com/OCL90"><%= image_tag("github.png", :alt => "GitHub") %></a></li>
      </ul>
    </div>
    <div class="col-lg-4 col-lg-offset-4 text-center">
      <div class="row">
        <div class="col-lg-12" id="developed_by">
          <h5 class="col-lg-8 col-lg-offset-4 col-xs-8">Developed by <a href="/admin">Oscar Cortazar-Luebbert</a></h5>
        </div>
      </div>
    </div>
  </div>
  <a id="back-to-top" href="#about_me" class="btn btn-primary btn-lg direct_top" role="button"><span class="glyphicon glyphicon-chevron-up"></span></a>
    
</footer>